

.player-wraper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    .controlers {
        font-size: 12px;
        
        .control-buttons-row {
            height: auto;
            width: auto;
            display:flex;
            justify-content: center;
            box-sizing: border-box;

            .play-pause {
                color: #b3b3b3;
                &:hover{
                    color: #ffffff;
                }
            }
            
            .voltar-musica {
                color: #b3b3b3;
                &:hover{
                    color: #ffffff;
                }
            }
            
            .passar-musica {
                color: #b3b3b3;
                &:hover{
                    color: #ffffff;
                }           
            }
            
            
        }
        
        .range-seeker-row {
            display: flex;  
            justify-content: center;
            // align-items: center;
            // text-align: center;
            -webkit-box-orient: horizontal;
            height: 16px;
            position: relative;
            color: #fafafa;

            .played-time {
                min-width: 40px;
                text-align: center;
            }
            .duration-time {
                min-width: 40px;
                text-align: center;
            }
            
            .seeker {
                max-width: 360px;
            }
        }
    }
}

